.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.div-component {
  height: 200px;
  width: 200px;
  background-color: yellow;
  margin: 20px;
}

.div-flex {
  display: flex;
  flex-direction: row;
  background-color: red;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
